*{
  margin: 0px;
  padding: 0px;
  
}
header, footer, main, aside, article, section, nav {
  display:block;
}

a{
  text-decoration:none;
}

@media (max-width: 990px) {

.list-group{
  text-align: center;
  width: 100%;
}

a.jumbotron{

font-family: "Comic Sans MS";
background: #b5afaf;
}

.posi{
  text-align: center;
}

.posi2{
  margin: 45px;
}

#iconPosi p,span{
  font-size: 50px;
}


a.lead: hover{
  text-decoration:none;
  color: #000;
}

a.jumbotron: hover{
  text-decoration:none;
  color: #000;
}

#optionsMenu a{
  text-decoration:none;
}

a.list-group-item{
  height: 130px;
  font-size: 80px;
}

#categoriesPosi a.list-group-item{
  height: 164px;
  font-size: 80px;
}

#logo{
  background-image: url(../images/circle2.png);
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #000;
}

.colorImgFavo{
 background-image: url(../images/colors.png);
 width: 100%;
 height: 7px;
 position: fixed;
 top: 100px;
}

a{
  font-weight: bold;
  font-size: 25px;
  height: 70px;
  background-repeat: no-repeat;
  margin-top: 4px;

}

#myImage{
  position: relative;
  left: 30px;
}

#optionsMenu{
  background-image: url(../images/options3.png);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  overflow:hidden;
}

button.list-group-item{
  top: 670px;
  background-color: #27251d;
  border: none;
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  font-family: "Comic Sans MS";
  margin-top: 4px;
  opacity: 0.6;
}

#bottomBar{
  background-color: #000;
  position: relative;
  width: 100%;
  height: 155px;
  position: fixed;
  bottom: 0px;
}

#logo2{
  background-image: url(../images/circle2.png);
  height: 80px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.colorImg{
 background-image: url(../images/colors.png);
 width: 100%;
 height: 6px;
 position: fixed;
 bottom: 155px;
}

.g-signin2{
  margin: 50% auto;
  bottom: 20px;
  position: fixed;
  right: 340px;
}

#test div{
  width: 290px;
}
.loginImg{
 background-image: url(../images/login.png);
 width: 100%;
 height: 100%;
}

#my-signin2{
  position: fixed;
  bottom: 20px;
  margin: 50% auto;
  margin-left: 230px;

}

#home{
  float:right;
  margin-top: 10px;
  height: 60px;
  font-size: 35px;
}

#font{
  font-family: "Comic Sans MS";

}

h1.display-3{
  font-size: 100px;
}

.jumbotron{
  opacity: 0.7;
  bottom: 10%;
  position: fixed;
  background-color: #000;
}

#description{
  text-decoration:none;
  color: #FFF;
  font-size: 50px;
}

#goButn{
  float: right;
  margin-right: 12px;
}

#categoryImg{
  background: no-repeat;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #000;
  display: block;
}

#favoriteColor a{
  background: #575755;
}

#ALL{
  color: #ffffff;
}

#MUSIC{
  color: #3bfa9f;
}

#ART{
  color: #9649f7;
}

#NIGHTLIFE{
  color: #33cefa;
}

#RESTARANTS{
  color: #00ff85;
}

#BARS&PUBS{
  color: #f600ff;
}

#FILMS{
  color: #fffb92;
}

#THEATRE{
  color: #ff6266;
}

#ATTRACTIONS{
  color: #fffca3;
}
}
/*a.navbar-link{
  text-decoration:none;
  font-size: 20px;
  font-family: "Verdana";
  margin: 150px;
}
*/


