*{
  margin: 0px;
  padding: 0px;
  
}
header, footer, main, aside, article, section, nav {
  display:block;
}

a{
  text-decoration:none;
}

.list-group{
  text-align: center;
}

.jumbotron{

font-family: "Comic Sans MS";
background: #b5afaf;
}

.posi{
  text-align: center;

}

.posi2{
  margin: 45px;
}

a.lead: hover{
  text-decoration:none;
  color: #000;
}

#optionsMenu a{
  text-decoration:none;
}
#logo{
  background-image: url(../images/circle_logo.png);
  width: 100%;
  height: 95px;
  background-repeat: no-repeat;
}

a{
  font-weight: bold;
  font-size: 25px;
  height: 70px;
  background-repeat: no-repeat;

}

#myImage{
  position: relative;
  left: 30px;
}

#optionsMenu{
  background-image: url(../images/options.png);
  width: 100%;
  height: 736px;
  background-repeat: no-repeat;
  overflow:hidden;

}

button.list-group-item{
  top: 352px;
  background-color: #27251d;
  border: none;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  font-family: "Comic Sans MS";
  margin-top: 4px;
}

#bottomBar{
  background-color: #000;
  position: relative;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0px;
}

#test{
  background-image: url(../images/cirle.png);
  height: 72px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.colorImg{
 background-image: url(../images/colors.png);
 width: 100%;
 height: 6px;
 position: fixed;
 bottom: 70px;

}

/*a.navbar-link{
  text-decoration:none;
  font-size: 20px;
  font-family: "Verdana";
  margin: 150px;
}
*/
