<!DOCTYPE html>
<html ng-app="categoryApp">
    <head>
        <title>Cicle app</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css" >
     </head>
     
     <body ng-controller="myEvent" id="categoryImg" style="background-image:url(images/{{events.eventsList[index].url}});">
             <section class="list-group-item" id="logo">
             <div class="colorImgFavo"></div>
             <a href="mainmenu.html"><button type="button" class="btn btn-default" id="home">
             <span class="glyphicon glyphicon-home"></span>
             </button></a>
           </section>
        <div class="jumbotron">
              <h1 class="display-3">{{events.eventsList[index].name}}<img id="myImage" src="images/unlike.png" ng-click="changeImage()"></h1>
              <p><a href="#" id="description" class="lead">{{events.eventsList[index].short_description}}</a></p>
              <hr class="m-y-2">
              <section id="iconPosi">
              <p class="posi"><span class="glyphicon glyphicon-map-marker"></span><span>{{events.eventsList[index].distance}}</span><span class="posi2">{{events.eventsList[index].category}}</span>&#8362;<span>{{events.eventsList[index].price}}</span></p>
              </section>
              <p class="lead" id="goButn">
              <button type="button" class="btn btn-default" ng-click="goNextEvent()"> > </button>
              <button type="button"  class="btn btn-default" ng-click="goBackEvent()"> < </button>
              </p>
    <!--       <nav class="navbar navbar-inverse">
          <p><a href="#" class="navbar-link">TODAY</a></p>
          </nav> -->
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/category.js"></script>
    </body>
</html>